html[hide_feed="true"] ytd-browse[page-subtype="home"], div#home-page-skeleton,
html:not([hide_feed]) ytd-browse[page-subtype="home"] #contents,
html:not([hide_feed]) ytd-browse[page-subtype="home"] #grid-title,
html[hide_sidebar="true"][dimension="true"][is_fs="false"] #secondary, html:not([hide_sidebar]) #secondary-inner,
html[hide_recommended="true"] #related, html[hide_recommended="true"] .ytp-pause-overlay, /* embed */
html[hide_chat="true"] ytd-live-chat-frame#chat,
html[hide_endscreen="true"] .html5-endscreen, /* new/old/embed */
html[hide_comments="true"] #comments, html[hide_prof="true"] .ytd-comment-renderer yt-img-shadow,
html[hide_mix="true"] ytd-compact-radio-renderer, html[hide_mix="true"] ytd-radio-renderer,
html[hide_merch="true"] #merch-shelf, html[hide_merch="true"] #offer-module, /* buy tv, movie */
html[hide_merch="true"] #ticket-shelf, html[hide_merch="true"] #clarify-box, /* e.g. covid */
html[hide_merch="true"] ytd-metadata-row-container-renderer > #always-shown, /* browse game */
html[hide_merch="true"] yt-alert-with-actions-renderer, /* e.g. try YT music */
html[hide_meta="true"] #primary-inner > #info,
html[hide_bar="true"] #info > #menu-container, html[hide_desc="true"] #primary-inner > #meta,
html[hide_header="true"] #masthead-container, html[hide_header="true"] #guide-spacer,
html[hide_notifs="true"] #buttons.ytd-masthead > ytd-notification-topbar-button-renderer.ytd-masthead,
html[hide_left="true"]:not(.yt-signed-out) #sections > ytd-guide-section-renderer:nth-child(n+2):nth-child(-n+3),
html[hide_left="true"].yt-signed-out #sections > ytd-guide-section-renderer:nth-child(n+4):nth-child(-n+6),
html[hide_search="true"] #primary > .ytd-two-column-search-results-renderer ytd-shelf-renderer,
html[hide_search="true"] #primary > .ytd-two-column-search-results-renderer ytd-horizontal-card-list-renderer,
html[hide_trending="true"] ytd-guide-section-renderer:nth-child(1) > #items > ytd-guide-entry-renderer:nth-child(2),
html[hide_trending="true"] .ytd-mini-guide-renderer:nth-child(2),
html[hide_autoplay="true"] ytd-compact-autoplay-renderer, html[hide_autoplay="true"] .ytp-chrome-controls .ytp-next-button,
html[hide_autoplay="true"] .atpOption, html[hide_annotations="true"] .annOption,
html[hide_cards="true"] .ytp-ce-element, ytd-primetime-promo-renderer, #masthead-ad.ytd-rich-grid-renderer.style-scope,
ytd-mealbar-promo-renderer[dialog], paper-dialog > ytd-single-option-survey-renderer[dialog][dialog][dialog] {
	display: none;
}
html[hide_playlists="true"] #playlist, html[hide_merch="true"] .ytp-drawer {
	display: none!important;
}
html[hide_trending="true"] #info-contents yt-formatted-string > .yt-simple-endpoint[href^="/feed/trending"],
html[hide_trending="true"] #watch7-headline .standalone-collection-badge-renderer-text a[href^="/feed/trending"] /* old */ {
	pointer-events: none;
}
html[hide_header="true"] #page-manager.ytd-app, html[hide_header="true"] #header.ytd-c4-tabbed-header-renderer {
    margin-top: 0;
}
html[hide_header="true"] ytd-mini-guide-renderer.ytd-app {
	top: 0;
}

/* old */
html:not([hide_feed="false"]) .home #content, html:not([hide_sidebar]) #watch7-sidebar,
html[hide_recommended="true"] #watch7-sidebar-contents, html[hide_chat="true"] #watch-sidebar-live-chat,
html[hide_playlists="true"] #player-playlist,
html[hide_comments="true"] #watch-discussion, html[hide_prof="true"] .comment-author-thumbnail,
html[hide_mix="true"] .related-list-item-compact-radio, /* rec */
html[hide_merch="true"] #watch7-sidebar-offer,
html[hide_meta="true"] #watch-header, html[hide_bar="true"] #watch8-action-buttons,
html[hide_desc="true"] #watch7-user-header, html[hide_desc="true"] #action-panel-details,
html[hide_header="true"] #masthead-positioner-height-offset, html[hide_header="true"] #masthead-positioner,
html[hide_notifs="true"] #yt-masthead-notifications,
html[hide_left="true"]:not(.yt-signed-out) .guide-module-content > .guide-toplevel > .guide-section:nth-child(n+3),
html[hide_left="true"].yt-signed-out .guide-module-content > .guide-toplevel > .guide-section:nth-child(n+2):nth-child(-n+3),
html[hide_left="true"] .guide-module-content > .guide-toplevel > .guide-section:nth-child(1) > .guide-item-container > .guide-user-links > li:nth-last-child(-n+2),
html[hide_search="true"] .search .feed-item-container, html[hide_search="true"] .search .search-refinements,
html[hide_trending="true"] #trending-guide-item,
html[hide_trending="true"] #appbar-nav .appbar-nav-menu li:nth-child(2),
html[hide_autoplay="true"] .watch-sidebar-section > .autoplay-bar {
	display: none;
}
html[hide_header="true"] #appbar-guide-menu {
    margin-top: 0;
}

/* mobile (no live chat, merch, search results to filter) */
html:not([hide_feed="false"]) div[tab-identifier="FEwhat_to_watch"],
html:not([hide_recommended="false"]) ytm-item-section-renderer[section-identifier="related-items"],
html:not([hide_playlists="false"]) ytm-playlist,
html[hide_endscreen="true"] .ytp-mweb-endscreen-play-next, html[hide_endscreen="true"] .ytp-mweb-endscreen-play-previous,
html[hide_comments="true"] ytm-comment-section-renderer.scwnr-content, html[hide_prof="true"] .comment-icon-container,
html[hide_mix="true"] ytm-compact-radio-renderer,
html[hide_merch="true"] ytm-compact-offer-module-renderer,
html[hide_meta="true"] ytm-item-section-renderer[section-identifier="slim-video-metadata"],
html[hide_bar="true"] .slim-video-metadata-actions, html[hide_desc="true"] ytm-slim-owner-renderer,
html[hide_desc="true"] .slim-video-metadata-header-content > c3-icon, html[hide_desc="true"] .slim-video-metadata-info,
html[hide_header="true"] .mobile-topbar-header,
html[hide_left="true"] ytm-multi-page-menu-section-renderer > ytm-compact-link-renderer:nth-child(n+2):nth-child(-n+3),
html[hide_trending="true"] ytm-pivot-bar-renderer > ytm-pivot-bar-item-renderer:nth-child(2),
html[hide_autoplay="true"] button[aria-label="Next video"], html[hide_autoplay="true"] button[aria-label="Previous video"],
html[hide_autoplay="true"] .ytm-autonav-bar, .mealbar-promo-renderer /* mobile/old */, #surveys {
	display: none;
}
html[hide_endscreen="true"] .html5-endscreen.mweb-endscreen {
	display: block;
}
html[hide_header="true"] #player-container-id,
html[hide_header="true"] ytm-item-section-renderer[section-identifier="related-items"] {
	top: 0;
}
html[hide_header="true"] ytm-app.sticky-player {
	padding-top: 0;
}
